# Игнорировать виртуальное окружение
venv/

# Игнорировать папки, созданные pyinstaller
dist/
build/
*.spec

# Игнорировать служебные файлы и папки
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.tmp
*.bak
*.swp

# Игнорировать файлы IDE и редакторов
.idea/
.vscode/
*.iml

# Игнорировать файлы для упаковки
*.zip
*.tar.gz
*.rar